.caja_1{
  background-color:red;
  border: 0px;
  height:250px ;
  width:250px ;
  position: absolute;
  top:20px;
  left: 10px;
}

.caja_2{
  background-color:#800080;
  border: 0px;
  height:150px ;
  width:150px ;
  position: absolute;
  top:65px;
  left: 60px;
}

.caja_3{
  background-color:yellow;
  border: 0px;
  height:80px ;
  width:80px ;
  position: absolute;
  top:65px;
  left: 60px;
}

.caja_4{
  background-color:blue;
  border: 0px;
  height:250px ;
  width:250px ;
  position: absolute;
  top:350px;
  left: 10px;
}
.caja_5{
  background-color:green;
  border: 0px;
  height:140px ;
  width:140px ;
  position: absolute;
  top:407px;
  left:70px;
}

.caja_6{
  background-color:black;
  border: 0px;
  height:57.3px ;
  width:60px ;
  position: absolute;
  top:350px;
  left:10px;
}
